.jumbotron {
    padding: 5px 40px;
    padding-bottom: 20px;
}

.dl-horizontal dt {
    text-align: left !important;
    margin-bottom: 10px;
}

::-webkit-scrollbar{
    width:7px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    border: 1px solid #fff;
}

@media (min-width: 768px) {
	.dl-horizontal dt {
		width: 260px;
	}
}