<td>
    <span *ngIf="!isEdit">{{ field.title }}</span>
    <div *ngIf="isEdit" [ngClass]="{'has-error': fieldError}" class="form-group" style="margin-bottom: 0">
        <input type="text" class="form-control input-sm" [(ngModel)]="newTitle" trim>
        <span class="help-block">{{ fieldError }}</span>
    </div>
</td>
<td>
    <span *ngIf="!isEdit">{{ field.type }}</span>
    <select *ngIf="isEdit" class="form-control input-sm" [(ngModel)]="newType">
        <option>TEXT</option>
        <option>TEXTAREA</option>
        <option>CHECKBOX</option>
    </select>
</td>
<td>{{ field.ordering }}</td>
<td>
    <button *ngIf="!isEdit" (click)="startEdit()" [disabled]="!isFinished || !isEnabled" type="button" class="btn btn-link" title="Редактировать" style="padding:0"><span class="glyphicon glyphicon-pencil"></span></button>
    <button *ngIf="isEdit" (click)="endEdit(true)" [disabled]="!isFinished" type="button" class="btn btn-link" title="Сохранить" style="padding:0"><span class="glyphicon glyphicon-ok"></span></button>
    <button *ngIf="isEdit" (click)="endEdit(false)" [disabled]="!isFinished" type="button" class="btn btn-link" title="Отмена" style="padding:0"><span class="glyphicon glyphicon-remove text-danger"></span></button>
</td>
<td><button *ngIf="index > 0" type="button" class="btn btn-link" title="Вверх" style="padding:0" [disabled]="!isFinished || !isEnabled" (click)="upDownField(field.id, true)"><span class="glyphicon glyphicon-arrow-up text-success"></span></button></td>
<td><button *ngIf="index < maxIndex" type="button" class="btn btn-link" title="Вниз" style="padding:0" [disabled]="!isFinished || !isEnabled" (click)="upDownField(field.id, false)"><span class="glyphicon glyphicon-arrow-down text-success"></span></button></td>
<td><button class="btn btn-link" type="button" title="Удалить" style="padding:0" [disabled]="!isFinished || !isEnabled" (click)="deleteField(field.id)"><span class="glyphicon glyphicon-remove text-danger"></span></button></td>